.container, header, main, footer {
    border-style: solid;
    border-width: 1px;
    background: none;

}

header {
    background: white;
    margin-top: 0;
    height: 100px;
}

h1 {
    float: left;
    margin-right: 200px;
    width: 300px;
}

menu {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-right: 30px;


}

.menu-a {
    color: #6fa8dc;
    text-decoration: underline;
}

.main-content {
    background: none;
    display: inline-block;
    width: 30%;
    height: 200px;
    color: #6fa8dc;
    overflow: scroll;
    margin-top: 20px;

}

article, author {
    background: #6fa8dc;
    margin-bottom: 0;
    height: 80px;
    text-align: center;
    color: white;
    margin-top: 0;
}

.author {
    margin-left: 500px;
}



.clear-both {
    clear: both;
}

.img-header {
    float: left;
    height: 50px;
    width: 60px;
    margin-left: 150px;
    margin-bottom: 30px;
    margin-top: 20px;

}

article {
    border-bottom: solid 1px black;
    margin-top: 0;
    font-style: italic;

}

.detail {
    color: black;
    font-family: Beirut;
}

img {
    height: 125px;
    width: 150px;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

footer {
    text-align: center;
    padding-top: 20px;
    background: #6fa8dc;
    height: 50px;
    color: white;
}