.margin{
    padding-right: 200px;
    padding-left: 300px;
}
.font-default{
    font-family: Tahoma;
    font-size: 11px;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}
.red{
    color: red;
}

.green-under-line {
    font-style: italic;
    color: green;
    text-decoration: underline;
}

.img-size {
    width: 500px;
    height: 700px;
}
.ui, li {
    font-family: Consolas;
}